<section class="phx-hero">
  <h1>Task Manager</h1>
  <p>A task managing application made for easy use.</p>
</section>

<section>
  
  <%= form_for @conn, Routes.page_path(@conn, :login),[class: "form-inline"], fn f -> %>
  <div>
      <%= label f, :email %>
      <%= text_input f, :email %>
      <%= error_tag f, :email %>
  </div>
    <%= submit "Submit", class: "btn btn-primary" %>
   <% end %>
</section>
